html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 60px;
  background: image_url('pinkdust.png');
  color: white;
  font-family: 'Crimson Text', serif;
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}

#footer a {
  color: white;
  font-weight: 100;
  padding: 10px 0px;
  margin-top: auto
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}
